BOT_TOKEN=your_bot_token_here
MAX_TOKEN=your_bot_token_here


GEMINI_API_KEY=your_openrouter_api_key_here
GEMINI_MODEL=openai/gpt-oss-20b:free

AI_TIMEOUT=30s
AI_RATE_LIMIT=3s
MAX_PROMPT_LENGTH=2000
MAX_CONCURRENT_AI=4

PROXY_URL =

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=kubometr_db